@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #364768c5;
  --foreground: #ebe3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebe0e0;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

grid-bg {
  background-image: radial-gradient(rgba(120, 70, 199, 0.1) 1px, transparent 1px);
  background-size: 30px 30px;
}

.glow {
  box-shadow: 0 0 80px 20px rgba(147, 51, 234, 0.15);
}
